*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header nav{
	background-color: indianred;
	display: flex;
	justify-content: space-evenly;


}
header nav ul{
	display: flex;
	/* padding: 10px; */
}
header nav ul li{
	margin-right: 50px;
	list-style-type: none;
	background-color: rgb(5, 102, 29);
	padding: 20px;
	/* border-radius: 10px; */
}

header nav ul li a{
	text-decoration: none;
	color: white;
}

.drop{
	position: relative;
}

.drop-items{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	width: 160px;
}

.drop li:hover{
	background-color: tomato;
}

.drop:hover .drop-items{
	display: flex;
	/* background-color: teal; */
}

.sub{
	position: relative;
}
.sub-drop{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 100%;
	/* width: 100%; */
	background-color: chartreuse;

}

.sub:hover .sub-drop{
	display: flex;
}
.sub-drop li{
	padding: 20px 30px;
	width: 100%;
}
.sub li:hover{
	background-color: violet;
}


.snd-sub{
	position: relative;
}

.snd-sub-drop{
	display: none;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 100%;
	/* width: 100%; */
	background-color: rgb(10, 111, 151);

}
.snd-sub:hover .snd-sub-drop{
	display: flex;
}


footer{
	position: absolute;
	bottom: 0;
	background-color: cornflowerblue;
	padding: 20px;
	width: 100%;
	text-align: center;
	color: white;
}
















